@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f9; /* Um cinza mais chique que o padrão */
}

.carousel-item img { 
    height: 645px; 
    object-fit: cover; 
}

.img-eafc {
    object-position: center top;
}

.card-img-top { 
    height: 250px; 
    object-fit: cover; 
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  color: #8335db;
}

.card {
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
}

.shadow-sm {
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2) !important;
}

.btn-primary {
    background-color: #8335db;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: #4f46e5;
    transform: scale(1.05);
}

.form-control:focus {
    border-color: #8335db;
    box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, 0.25);
}

.btn-editar-perfil {
    background-color: #8335db;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-editar-perfil:hover {
    background-color: #8335db;
    color: #ffffff; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px rgba(99, 102, 241, 0.4); 
}